<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-mat="top"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
    
     <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src= "{{ BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div> 

  <div fxLayoutGap="10px" *ngIf="dish" [@visibility]="visibility" [@expand]>
  <div fxLayout="column" fxLayoutGap="10px">

    <div fxFlex="40" fxLayout="column" >
      <div fxFlex fxLayoutGap="10px"> 
<h2>COMMENTS</h2>
</div>
     <div fxFlex fxLayoutGap="10px" fxFlex ="70">
<mat-list>
  <mat-list-item *ngFor="let comment of dish.comments">
    
    <h1 mat-line> {{comment.comment}} </h1>
    <h1 mat-line> {{comment.rating}} Stars </h1>
    <p mat-line>
      <span> -- {{comment.author}} {{comment.date | date}} </span>
    </p>
  </mat-list-item>

  <mat-list-item *ngIf="!reviewForm.invalid">  
    <h1 mat-line> {{reviewForm.value.author}} </h1>
    <h1 mat-line> {{reviewForm.value.rating}} Stars </h1>
    <p mat-line>
      <span> -- {{reviewForm.value.comment}} </span>
    </p>
  </mat-list-item>

</mat-list>
</div>
</div>

<div fxFlex fxLayout="column" fxFlex ="30">
<form novalidate [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
 
  <table class="form-size">
      <dl>
<dt> 
  <mat-input-container class="half-width" dividerColor="{{ formErrors.name ? 'warn' :'primary' }}">
  <input matInput formControlName="author" placeholder="Name" type="text">
  <mat-hint>
    <span [hidden]="!(formErrors.author)">{{formErrors.name}}</span>
  </mat-hint>
  </mat-input-container>
</dt>
</dl>
<dl>
    <dt>
    
    <mat-slider formControlName="rating"  thumbLabel tickInterval="1" min="1" max="5" step="1" value={{rating}} > Your Rating </mat-slider>

    </dt>
  </dl>
<dl>
  <dt>
    <mat-input-container class="half-width" dividerColor="{{ formErrors.comment ? 'warn' :'primary' }}">
    <textarea matInput formControlName="comment" praceholder="Your Comment" rows=5>Add your comment</textarea>
    <mat-hint>
      <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
    </mat-hint>
    </mat-input-container>
  </dt>
</dl>
 <dl>
<dt>
    <button type="submit" mat-button class="background-primary test-floral-white" [disabled]="reviewForm.invalid">Submit</button>
</dt>
</dl>
  </table>
  </form>
</div>
<div [hidden]="dish || errMess">
  <mat-spinner></mat-spinner> <h4> Loading... Please wait </h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
</div>
</div>
</div>
