
.miClass{
    
.container{
    
    mat-list{
     

mat-list-item{
 
   padding-bottom:75px;
   -webkit-margin-start: 0px;

   
.pict{
    -webkit-margin-start: 0px;

    img {
        
        border-radius: 50%;
    }
    
}
.commts{

    
    max-width: 70%;
    line-height:0.9;

 }
 .commts-sm{
    
        padding-left: 50px;
        max-width: 70%;
    
    
     }
}
}
    
}

}



